<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Taste DB</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h1>Home Page</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users Database</a></li>
            <li><a href="/restaurantsDishes">Restaurants and Dishes Database</a></li>
            <li><a href="/restaurantsAddresses">Restaurant Addresses Database</a></li>
            <li><a href="/reviews">Reviews Database</a></li>
        </ul>
    </nav>


<div id="browse" style="display: block">
<p><strong>Restaurant Addresses</strong></p>
<table id="RestaurantAddresses-Table" border="1" cellpadding="5">

    <!-- Header section -->
    <thead>
        <tr>
            <th>AddressID</th>
            <th>RestaurantID</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zipcode</th>
            <th>Suite</th>
        </tr>
    </thead>

    <!-- Body section -->
    <tbody>
        {{#each data1}}
        <tr data-value="{{this.AddressID}}">
            <td>{{this.AddressID}}</td>
            <td>{{this.RestaurantName}}</td>
            <td>{{this.Address}}</td>
            <td>{{this.City}}</td>
            <td>{{this.State}}</td>
            <td>{{this.Zipcode}}</td>
            <td>{{this.Suite}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<p>&nbsp;</p>
</div>

{{!-- ADD FORM section --}}
<form id="add-restaurantAddresses-form-ajax">
    <select id="input-restaurant-id" name="input-restaurant-id">
        <option value="">Select a Restaurant</option>
        {{#each restaurants}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-address">Address: </label>
    <input type="text" name="input-address" id="input-address" required>

    <label for="input-city">City: </label>
    <input type="text" name="input-city" id="input-city" required>

    <label for="input-state">State: </label>
    <input type="text" name="input-state" id="input-state" required>

    <label for="input-zipcode">Zipcode: </label>
    <input type="text" name="input-zipcode" id="input-zipcode" required>

    <label for="input-suite">Suite: </label>
    <input type="text" name="input-suite" id="input-suite">

    <input type="submit" value="Add Address">
</form>

<!-- Include your JavaScript to handle the AJAX request -->
<!-- Link to the add_restaurantAddress.js script -->
<script src="/js/add_restaurantAddress.js"></script>


<p>&nbsp;</p> <!-- browse/add restaurantAddress -->


</body>
</html>