<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Taste DB</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h1>Home Page</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users.">User Database</a></li>
            <li><a href="/restaurantsDishes">Restaurant and Dishes Database</a></li>
            <li><a href="/restaurantsAddress">Restaurant Addresses Database</a></li>
            <li><a href="/reviews">Reviews Database</a></li>
        </ul>
    </nav>


<div id="browse" style="display: block">
<p><strong>Restaurants</strong></p>
<table  id = restaurant-table border="1" cellpadding="5" >

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th><a href="#">New</a></th>
            <th></th>
            {{#each data2.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data2}}
        <tr>
            <td><a href="#">Edit</a></td>
            <td><a href="#">Delete</a></td>
            <td>{{this.RestaurantID}}</td>
            <td>{{this.RestaurantName}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<p>&nbsp;</p> <!-- browse/add restaurants -->

{{!-- ADD FORM section --}}
<form id="add-restaurant-form-ajax">
    <label for="input-restaurant-name">Restaurant Name: </label>
    <input type="text" name="input-restaurant-name" id="input-restaurant-name" required>

    <input type="submit" value="Add Restaurant">
</form>

<!-- Include your JavaScript to handle the AJAX request -->
<!-- Link to the add_restaurant.js script -->
<script src="/js/add_restaurant.js"></script>


<p>&nbsp;</p> <!-- browse/add restaurants -->


<p><strong>Dishes</strong></p>
<table id = Dishes-Table border="1" cellpadding="5">
{{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th><a href="#">New</a></th>
            <th></th>
            {{#each data3.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data3}}
        <tr>
            <td><a href="#">Edit</a></td>
            <td><a href="#">Delete</a></td>
            <td>{{this.DishID}}</td>
            <td>{{this.DishName}}</td>
            <td>{{this.CuisineType}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<p>&nbsp;</p> <!-- browse Dishes -->



<p><strong>Restaurants/Dishes Junction Table</strong></p>
<table id = Restaurant-Dishes-Table" border="1" cellpadding="5>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th><a href="#">New</a></th>
            <th></th>
            {{#each data1.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data1}}
        <tr>
            <td>{{this.RestaurantDishID}}</td>
            <td>{{this.DishID}}</td>
            <td>{{this.RestaurantID}}</td>
            <td><button onclick="deleterestaurant({{this.RestaurantDishID}})">Delete</button> </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<p>&nbsp;</p>
</div> <!-- browse RestaurantsDishes Intersection Table -->

<div id="update" style="display: block">
  <form id="updateRestaurantDish">
      <legend><strong>Update Restaurants and Dishes</strong></legend>
          <fieldset class="fields">
            
            <input type="hidden" name="RestaurantDishID" id="updateRestaurantDishID" value="1" /> <!-- Default value for testing -->

            <!-- Restaurant Dropdown -->
            <label> Restaurant: </label>
            <select name="RestaurantName" id="updateRestaurantName">
              <option value="">Select a restaurant</option>
              <option value="1">McDonald's</option> <!-- RestaurantID: 1 -->
              <option value="2">WingStop</option>  <!-- RestaurantID: 2 -->
            </select>   

            <!-- Dish Dropdown -->
            <label> Dish: </label>
            <select name="DishName" id="updateDishName">
              <option value="">Select a Dish</option>
              <option value="1">Cheeseburger</option> <!-- DishID: 1 -->
              <option value="2">Buffalo Wings</option> <!-- DishID: 2 -->
            </select> 
    </fieldset>

    <!--  Buttons -->
    <input class="btn" type="submit" id="UpdateSaveRestaurant" value="Save Update">
    <input class="btn" type="button" value="Cancel">
  </form> 
</div><!-- update RestaurantDish-->

<p>&nbsp;</p>
<p><strong>Delete Restaurant and Dish</strong></p>
<div id="delete" style="display: block">
  <form id="deleteRestaurantDish">
      <legend><strong>Are you sure you wish to delete the following?</strong></legend>
          <fieldset class="fields">
            <!-- Restaurant Dropdown -->
            <label> Restaurant: </label>
            <select name="RestaurantName" id="deleteRestaurantName">
                <option value="">Select a restaurant</option>
                <option value="1">McDonald's</option> <!-- RestaurantID: 1 -->
                <option value="2">WingStop</option>  <!-- RestaurantID: 2 -->
            </select>

            <!-- Dish Dropdown -->
            <label> Dish: </label>
            <select name="DishName" id="deleteDishName">
                <option value="">Select a Dish</option>
                <option value="1">Cheeseburger</option> <!-- DishID: 1 -->
                <option value="2">Buffalo Wings</option> <!-- DishID: 2 -->
            </select>

          <!-- Hidden input to hold the RestaurantDishID for deletion -->
            <input type="hidden" name="RestaurantDishID" id="deleteRestaurantDishID" value="1" />
          </fieldset>  

          <!-- Delete Button -->
          <input class="btn" type="submit" id="DeleteDish" value="Delete Dish">
          <input class="btn" type="button" value="cancel" >
  </form> 
</div><!-- delete RestaurantDish-->
</body>
</html>
