<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Taste DB</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h1>Restaurants, Dishes and RestaurantDishes Table</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users Database</a></li>
            <li><a href="/restaurantsDishes">Restaurants and Dishes Database</a></li>
            <li><a href="/restaurantsAddresses">Restaurant Addresses Database</a></li>
            <li><a href="/reviews">Reviews Database</a></li>
        </ul>
    </nav>


<div id="browse" style="display: block">
<h2>Restaurants</h2>
<table id="Restaurants-Table" border="1" cellpadding="5" >
    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
    
            <th>RestaurantID</th>
            <th>RestaurantName</th>
            <th></th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data2}}
        <tr data-value="{{this.RestaurantID}}">
            <td>{{this.RestaurantID}}</td>
            <td>{{this.RestaurantName}}</td>
            <td></td>
            <td><button onclick="deleteRestaurant({{this.RestaurantID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_restaurant.js"></script>
<p>&nbsp;</p> 

{{!-- ADD FORM section --}}
<h2>Add Restaurant</h2>
<form id="add-restaurant-form-ajax">
    <label for="input-restaurant-name">Restaurant Name: </label>
    <input type="text" name="input-restaurant-name" id="input-restaurant-name" required>
    <input type="submit" value="Add Restaurant">
</form>

<!-- Include your JavaScript to handle the AJAX request -->
<!-- Link to the add_restaurant.js script -->
<script src="/js/add_restaurant.js"></script>


<p>&nbsp;</p> <!-- browse/add restaurants -->


<h2>Dishes</h2>
<table id="Dishes-Table" border="1" cellpadding="5">
{{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
        {{#if data3.[0]}}
            {{#each data3.[0]}}
                <th>
                    {{@key}}
                </th>
            {{/each}}
        {{else}}
            <th>DishID</th>
            <th>DishName</th>
            <th>CuisineType</th>
        {{/if}}
            <th></th>
            <th>Delete</th>
        </tr>
    </thead>
    {{!-- Body section --}}
    <tbody>
        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data3}}
        <tr data-value="{{this.DishID}}">
            <td>{{this.DishID}}</td>
            <td>{{this.DishName}}</td>
            <td>{{this.CuisineType}}</td>
            <td></td>
            <td><button onclick="deleteDish({{this.DishID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_dish.js"></script>
<p>&nbsp;</p> <!-- browse Dishes -->

{{!-- ADD FORM section --}}
<h2>Add Dish</h2>
<form id="add-dish-form-ajax">
    <label for="input-dish-name">Dish Name: </label>
        <input type="text" name="input-dish-name" id="input-dish-name" required>

    <label for="input-cuisine-type">Cuisine Type: </label>
        <input type="text" name="input-cuisine-type" id="input-cuisine-type" required>

    <input type="submit" value="Add Dish">
</form>

<!-- Include your JavaScript to handle the AJAX request -->
<!-- Link to the add_restaurant.js script -->
<script src="/js/add_dish.js"></script>
<p>&nbsp;</p> <!-- browse/add restaurants -->

{{!-- RESTAURANTS AND DISHES TABLE --}}
<h2>Restaurants/Dishes Junction Table</h2>
<table id="Restaurants-Dishes-Table" border="1" cellpadding="5">
    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        {{!- We if/else was used to prevent the table from collapsing if it is empty --}}
        <tr> 
            {{#if data1.[0]}}
                {{#each data1.[0]}}
                    <th>
                        {{@key}}
                    </th>
                {{/each}}
            {{else}}
                <th>RestaurantDishID</th>
                <th>DishID</th>
                <th>RestaurantID</th>
            {{/if}}
                <th>Edit</th>
                <th>Delete</th>
        </tr>
    </thead>
    {{!-- Body section --}}
    <tbody>
        {{#each data1}}
        <tr data-value="{{this.RestaurantDishID}}">
            <td>{{this.RestaurantDishID}}</td>
            <td>{{this.DishID}}</td>
            <td>{{this.RestaurantID}}</td>
            <td>
            <button onclick="openUpdateForm('{{this.RestaurantDishID}}', '{{this.RestaurantID}}', '{{this.DishID}}')">
                Edit
            </button>
            </td>
            <td><button onclick="deleteRestaurantDish({{this.RestaurantDishID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_restaurantDish.js"></script>

<p>&nbsp;</p>
</div> <!-- browse RestaurantsDishes Intersection Table -->

{{!-- ADD FORM section --}}
<form id="add-restaurantsDishes-form-ajax">
    <h2>Add Restaurant/Dish Composite Key</h2>
    <h4>(Enter Unique Keys Only)</h4>
    <select id="input-restaurant-ID" name="input-restaurant-ID">
        <option value="">Select a Restaurant</option>
        {{#each restaurants}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <select id="input-dish-ID" name="input-dish-ID">
        <option value="">Select a Dish</option>
        {{#each dishes}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <input type="submit" value="Add RestaurantsDishes">
</form>

<!-- Include your JavaScript to handle the AJAX request -->
<!-- Link to the add_restaurantsDishes.js script -->
<script src="/js/add_restaurantDish.js"></script>
<p>&nbsp;</p> <!-- browse/add restaurants&dishes -->


<div id="update-RestaurantDish-form" style="display: none;">
    <h2>Update Restaurant/Dish Composite Key</h2>
    <h3>Unique Keys Only</h3>
    <form id="update-RestaurantsDishes-form-ajax">
        <label for="input-RestaurantDishID-update">RestaurantDishID: </label>
        <input type="text" id="input-RestaurantDishID-update" name="RestaurantDishID" readonly>

        <label for="input-RestaurantName-update">Restaurant: </label>
        <select id="input-RestaurantName-update">
            {{#each restaurants}}
            <option value="{{this.id}}" data-id="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>

        <label for="input-DishName-update">Dish: </label>
        <select id="input-DishName-update">
            {{#each dishes}}
            <option value="{{this.id}}" data-id="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>

        <input type="submit" value="Update">
    </form>
<script src="./js/update_restaurantDish.js"></script>
</div><!-- update RestaurantDish-->
<p>&nbsp;</p>
</body>
</html>