<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Taste DB</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h1>Home Page</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users Database</a></li>
            <li><a href="/restaurantsDishes">Restaurants and Dishes Database</a></li>
            <li><a href="/restaurantsAddresses">Restaurant Addresses Database</a></li>
            <li><a href="/reviews">Reviews Database</a></li>
        </ul>
    </nav>


<div id="browse" style="display: block">
<p><strong>Restaurant Addresses</strong></p>
<table id="RestaurantsAddresses-Table" border="1" cellpadding="5">

    <!-- Header section -->
    <thead>
        <tr>
            <th>AddressID</th>
            <th>RestaurantID</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zipcode</th>
            <th>Suite</th>
        </tr>
    </thead>

    <!-- Body section -->
    <tbody>
        {{#each data1}}
        <tr data-value="{{this.AddressID}}">
            <td>{{this.AddressID}}</td>
            <td>{{this.RestaurantID}}</td>
            <td>{{this.Address}}</td>
            <td>{{this.City}}</td>
            <td>{{this.State}}</td>
            <td>{{this.Zipcode}}</td>
            <td>{{this.Suite}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<p>&nbsp;</p>
</div>

{{!-- ADD FORM section --}}
<form id="add-restaurant-form-ajax">
    <label for="input-user-name">First Name: </label>
    <input type="text" name="input-user-first-name" id="input-user-first-name" required>
    <label for="input-user-name">Last Name: </label>
    <input type="text" name="input-user-first-name" id="input-user-first-name" required>
    <label for="input-user-email">Email: </label>
    <input type="email" name="input-user-email" id="input-user-email" required>
    <input type="submit" value="Add User">
</form>

<!-- Include your JavaScript to handle the AJAX request -->
<!-- Link to the add_user.js script -->
<script src="/js/add_user.js"></script>


<p>&nbsp;</p> <!-- browse/add users -->


</body>
</html>