<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Taste DB</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h1>Home Page</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users Database</a></li>
            <li><a href="/restaurantsDishes">Restaurants and Dishes Database</a></li>
            <li><a href="/restaurantsAddresses">Restaurant Addresses Database</a></li>
            <li><a href="/reviews">Reviews Database</a></li>
        </ul>
    </nav>


<div id="browse" style="display: block">
    <p><strong>Reviews</strong></p>
    <table id="Reviews-Table" border="1" cellpadding="5">
        <thead>
            <tr>
                <th>ReviewID</th>
                <th>User Name</th>
                <th>Restaurant Name</th>
                <th>Dish Name</th>
                <th>Review Date</th>
                <th>Review Comment</th>
                <th>Taste</th>
                <th>Presentation</th>
            </tr>
        </thead>
        <tbody>
            {{#each data1}}
            <tr data-value="{{this.ReviewID}}">
                <td>{{this.ReviewID}}</td>
                <td>{{this.UserName}}</td>
                <td>{{this.RestaurantName}}</td>
                <td>{{this.DishName}}</td>
                <td>{{this.ReviewDate}}</td>
                <td>{{this.ReviewComment}}</td>
                <td>{{this.Taste}}</td>
                <td>{{this.Presentation}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p>&nbsp;</p>
</div>


{{!-- ADD FORM section --}}
<form id="add-reviews-form-ajax">
    <select id="input-user-id" name="input-user-id">
        <option value="">Select a User</option>
        {{#each users}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <select id="input-restaurant-id" name="input-restaurant-id">
        <option value="">Select a Restaurant</option>
        {{#each restaurants}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <select id="input-dish-id" name="input-dish-id">
        <option value="">Select a Dish</option>
        {{#each dishes}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-review-date">Review Date: </label>
    <input type="date" name="input-review-date" id="input-review-date" required>

    <label for="input-review-comment">Review Comment: </label>
    <input type="text" name="input-review-comment" id="input-review-comment" required>

    <label for="input-taste">Taste Rating: </label>
    <input type="number" name="input-taste" id="input-taste" required>

    <label for="input-presentation">Presentation Rating: </label>
    <input type="number" name="input-presentation" id="input-presentation" required>

    <input type="submit" value="Add Review">
</form>

<!-- Include your JavaScript to handle the AJAX request -->
<!-- Link to the add_review.js script -->
<script src="/js/add_review.js"></script>


<p>&nbsp;</p> <!-- browse/add reviews -->


</body>
</html>